<div class="header container-fluid">
  <div class="row header__row text-right">
    <div class="col-sm-12">
      <span class="header__link no-hover">
        {{ $root.clientDisplayName }}
      </span>
    </div>
  </div>

  <div class="row header__row">
    <div class="col-sm-12">
      <p class="header__breadcrumbs">
        {{ $root.pageTitle }}
      </p>
    </div>
  </div>

  <div class="row header__row">
    <div class="col-sm-12">
      <!-- <img ng-src="{{ $root.appLogo.dashboardUrl }}" alt="{{ $root.appLogo.dashboardAlt }}" style="width: 4rem;"> -->
      <a ui-sref="app.dashboard" ui-sref-active="active" class="header__link">Home</a>
      <a ui-sref="app.heroes" ui-sref-active="active" class="header__link">Heroes(Example)</a>
      <a ui-sref="app.villains" ui-sref-active="active" class="header__link">Villains(Example)</a>
    </div>
  </div>
</div>